:root,
html[data-color-scheme='light'][data-variant-theme='blue'] {
  --hyp-color-primary: #004ca6;
  --hyp-color-secondary: #5a5750;
  --hyp-color-white: #fff;
  --hyp-color-light: #edf3fa;
  --hyp-color-dark: #1e2329;
  --hyp-color-info: #d34ad0;
  --hyp-color-success: #009b58;
  --hyp-color-warning: #e0c800;
  --hyp-color-error: #ee1500;
}

html[data-color-scheme='light'][data-variant-theme='purple'] {
  --hyp-color-primary: #c80e59;
  --hyp-color-secondary: #1c09ff;
  --hyp-color-white: #fff;
  --hyp-color-light: #f7f2fe;
  --hyp-color-dark: #1c1d22;
  --hyp-color-info: #0089ce;
  --hyp-color-success: #009c6e;
  --hyp-color-warning: #d0cf00;
  --hyp-color-error: #db4100;
}

html[data-color-scheme='light'][data-variant-theme='green'] {
  --hyp-color-primary: #124c4d;
  --hyp-color-secondary: #00738a;
  --hyp-color-white: #fff;
  --hyp-color-light: #f6fffb;
  --hyp-color-dark: #272b29;
  --hyp-color-info: #eaa706;
  --hyp-color-success: #00a749;
  --hyp-color-warning: #edc800;
  --hyp-color-error: #f50030;
}

html[data-color-scheme='dark'][data-variant-theme='blue'] {
  --hyp-color-primary: #004ca6;
  --hyp-color-secondary: #5a5750;
  --hyp-color-white: #fff;
  --hyp-color-light: #1e2124;
  --hyp-color-dark: #1e2329;
  --hyp-color-info: #d34ad0;
  --hyp-color-success: #009b58;
  --hyp-color-warning: #e0c800;
  --hyp-color-error: #ee1500;
}

html {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  background: var(--hyp-color-light);
}
