@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700');

:root,
html[data-color-scheme='light'] {
  --hyp-color-primary: #00aeff;
  --hyp-color-secondary: #bbc8ce;
  --hyp-color-white: #fff;
  --hyp-color-light: #f0f4ff;
  --hyp-color-dark: #171f23;
  --hyp-color-info: #ff3da7;
  --hyp-color-success: #14f59c;
  --hyp-color-warning: #ffb704;
  --hyp-color-error: #ff2e2e;

  /* TEXT */
  --hyp-color-text-default: #111;
  --hyp-color-text-inverse: #fff;
  --hyp-color-text-light: #fff;
  --hyp-color-text-dark: #111;

  /* BACKGROUND */
  --hyp-color-background-default: #f5fafc;
  --hyp-color-background-inverse: #1f1f20;

  /* BORDER */
  --hyp-color-border-default: #d1dcdc;
  --hyp-color-border-inverse: #869292;
}

html.htw-dark,
html[data-color-scheme='dark'] {
  --hyp-color-secondary: #636d72;

  /* TEXT */
  --hyp-color-text-default: #fff;
  --hyp-color-text-inverse: #111;

  /* BACKGROUND */
  --hyp-color-background-default: #25272a;
  --hyp-color-background-inverse: #eef5f9;

  /* BORDER */
  --hyp-color-border-default: #869292;
  --hyp-color-border-inverse: #d1dcdc;
}

html {
  font-family: Lato, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: var(--hyp-color-text-default);

  /* color-scheme: light dark; conflict with histoire */
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
