@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700');

:root {
  --hyp-color-primary: #004ca6;
  --hyp-color-secondary: #5a5750;
  --hyp-color-white: #fff;
  --hyp-color-light: #d3dcf3;
  --hyp-color-dark: #000200;
  --hyp-color-info: #d34ad0;
  --hyp-color-success: #009b58;
  --hyp-color-warning: #e0a000;
  --hyp-color-danger: #ee1500;
}

html {
  font-family: Lato, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; conflict with histoire */
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
